<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dang you made it here?!?!?!</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <p>Ye so basically this is a website with a lot of APIs and I am aiming for the Logitech mouse so please vote. I'm too lazy to design this page cuz nobody's even gonna visit this page. There's nothing more in the About page, or maybe you could try searching? : D</p>
    <a href="/">Back to Home</a>
</body>
<!--Ye lol there's nothing else here buddy, but it's nice seeing you check the elements lol-->
</html>